@import 'font.css';

body {
    font-family: 'Open Sans';
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
.menu-bar {
    color: #212121;
    padding: 20px 0;
    background-color: #ffffff;
}
.menu__item {
    margin-left: 37px;
}
.menu__item a {
    font-size: 20px;
    color: #212121;
    font-family: 'Open Sans Semibold';
}
.menu__item a:hover {
    text-decoration: none;
    color: grey;
}
/* HEADER */
.header {
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: 0 100%;
    padding: 180px 0;
    text-align: center;
    color: #ffffff;
}
.header__title {
    font-size: 55px;
}
.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}
.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    text-transform: uppercase;
}
.button:hover {
    background: transparent;
    border: 2px solid white;
}
.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}

/* ABOUT */
.about {
    color: #212121;
    background: #fff;
    text-align: center;
    padding-bottom: 125px;
    padding-top: 120px;
}
.about__title {
    font-size: 30px;
    font-weight: bold;
}
.about__text {
    font-size: 15px;
    margin-bottom: 100px;
    color: #212121;
}
.about_h3 {
    font-size: 20px;
    font-family: 'Open Sans Semibold';
    margin-top: 30px;
    margin-bottom: 20px;
}
/* Our Services */
.services {
    color: #212121;
    background: #e4fdf9;
    text-align: center;
    padding-bottom: 125px;
    padding-top: 165px;
}
.our_card {
    background-color: #ffffff;
    padding: 55px 47px 47px;
    transition: 0.3s;
    margin-bottom: 30px;
}
.icon {
    font-size: 60px;
    color:#000;
    transition: 0.3s;
}
.our_card:hover {
    background-color: #00897b;
    color: white;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}
.our_card:hover .icon {
    color: white;
}
.our_card:hover .button-services {
    border: 2px solid #fff;
    color: white;
}
.button-services {
    border: 2px solid #000;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
    background: transparent;
    transition: 0.3s;
}
.button-services:hover {
    cursor: pointer;
}
.about_text {
    font-size: 15px;
    margin-bottom: 30px;
}
/* Portfolio */

.portfolio {
    padding-top: 125px;
    padding-bottom: 135px;
    text-align: center;
}
.portfolio button:hover,
.focused {
    color: black;
    background: transparent;
    border: 2px solid #00897b;
}
.portfolio img {
    margin-bottom: 30px;
}
.filter {
    padding: 120px 0;
}
div[filter]:hover img {
    filter: brightness(50%);
    transition: 0.3s;
}
.text {
    display: none;
}
div[filter]:hover .text {
    display: block;
    width: 100%;
    color: white;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}
/* Pricing */

.pricing {
    padding-top: 125px;
    padding-bottom: 115px;
    text-align: center;
    background-color: #f0f1f1;
}
.price {
    background-color: #ffffff;
    transition: 0.5s;
}
.price:hover {
    box-shadow: 1px 2px 17px 0px rgba(0,0,0,0.68);
}
.price__head {
    background-image: url(../img/Rectangle\ 14.png);
    padding-top: 40px;
    padding-bottom: 65px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 211px;
}
.price__head p {
    font-size: 25px;
}
.price__head {
    font-size: 50px;
}
.price__head sub {
    font-size: 17px;
    vertical-align: middle;
}
.price__head sup {
    font-size: 25px;
    vertical-align: middle;
}
.price__body {
    font-size: 17px;
    color: #212121;
    font-family: 'Open Sans Light';
}
.price__body ul li {
    border-bottom: 1px solid #bfbfbf;
    max-width: 175px;
    margin: 0 auto;
    padding-bottom: 12px;
    padding-top: 28px;
}

.price__footer {
    padding: 60px 0;
}
.price__footer button {
    border: 2px solid #000;
    padding: 18px 30px;
    color: #212121;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
}
.price__footer button:hover {
    text-transform: uppercase;
    color: white;
    background-color: #00897b;
    border: none;
    transition: 0.3s;
}
