@import 'font.css';

body {
    background-color: grey;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
.menu-bar {
    color: #212121;
    padding: 20px 0;
    background-color: #ffffff;
}
.menu__item {
    margin-left: 37px;
}
.menu__item a {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
}
.menu__item a:hover {
    text-decoration: none;
    color: grey;
}